$gray: #bfc3c6;
$white: #f8f8f8;

// Base color
$color-primary: #ee511e;

$color-yellow-0: #ffb627;

$color-white-0: #fff;
$color-white-1: #fefefe;
$color-white-2: #f0f0f0;

$color-gray-0: #9f9f9f;
$color-gray-1: #eaeaea;
$color-gray-2: #ececec;
$color-gray-3: #cecece;
$color-gray-3: #e0e0e0;
$color-gray-050: #f9fafb;
$color-gray-200: #e5e7eb;

$color-black-0: #000;
$color-black-1: #1e0a3c;
$color-black-2: #2e2e2e;

$color-state-error: #ff4d4f;

// Header
$color-navbar-text: #8c8c8c;
$color-border-header: #f2f4f7;
$color-title: #101828;
$color-subtitle: #475467;
$color-head-name: #3d3d3d;
$color-dropdown-link: #636363;
$back-ground-header: #f9f9f9;
$color-head-text-btn-outline: #d0d5dd;
$color-border: #e5e7eb;
$color-border-btn: #d0d5dd;

// Home
$color-background-1: #f9f9f9;
$color-header-modal: #6b6b6b;
$color-header-text: #a3a3a3;

// Profile
$color-border: #d0d5dd;
$color-credit-point: linear-gradient(90deg, #ffb627 0.18%, #f5d011 99.79%);
$color-text-btn: #494949;
$color-detail-point-title: #6b6b6b;
$color-alert-yellow: #ffb427;
$color-text-detail-point: #525252;
$color-profile-label: #344054;

$color-border-settings: #eaecf0;
