.container {
  position: relative !important;
  text-align: left !important;
  min-width: 1000px !important;
}

.button {
  margin-top: 10px !important;
  margin-bottom: 30px !important;
}

.checkbox {
  margin-top: 10px !important;
  margin-bottom: 30px !important;
  display: grid !important;
}
