.header {
  background: #FFFFFF !important;
  padding: 0px !important;
}

.logo_text {
  text-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
  font-size: 32px !important;
  font-family: "Open Sans";
  font-weight: bold;
  //color: #FFFFFF;
}

.menu {
  //color: #FFFFFF;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 16px !important;
  background-color: #FFFFFF;
}

.container {
  //max-width: 256px !important;
  align-items: center;
  display: flex;
  justify-content: center;
  //padding-right: 30px !important;
  //background: #40404254;
  //color: #161515;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  //background: #eee;
  //margin-left: 30px;
  //margin-top: 20px;
  //margin-bottom: 20px;
}

.name {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  color: #161515;
}
